@model Gadget_Gourmet.Models.Entities.Product

<div class="container my-4">
	<div class="d-flex justify-content-between align-items-center text-uppercase fw-bold border-bottom pb-3" style="font-family: Noah">
		<h1 class="h3">@Model.Name</h1>
		<span class="text-muted">Product ID: @Model.Id</span>
	</div>

	<div class="row mt-4">
		@* <div class="col-md-5 mb-4 mb-md-0">
			<img src="@Url.Content("~\\wwwroot\\Images\\home_images\\spoon-home.svg")" class="img-fluid rounded" alt="Product Image">
		</div> *@

		<div class="col-md-7">
			<h2 class="h5">Description</h2>
			<p>@Model.Description</p>

			<p><strong>Price:</strong> $@Model.Price</p>
			<p><strong>Weight:</strong> @Model.Weight kg</p>
			<p><strong>Color:</strong> @Model.Color</p>
			<p><strong>Manufacturer:</strong> @Model.Manufacturer</p>
			<p><strong>Category:</strong> @Model.Category</p>

			<div class="mt-4">
				<button class="btn btn-success me-2">Add to Cart</button>
				<button class="btn btn-primary">Buy Now</button>
			</div>
		</div>
	</div>
</div>
