
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gadget Gourmet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Identity.styles.css" asp-append-version="true" />
</head>
<body>

    <header style="font-family: Noah">

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3 bg-body-tertiary">
            <div class="container-fluid">

                <a class="navbar-brand justify-content-md-start order-md-1 order-2" asp-area="" asp-controller="Home" asp-action="Index" style="font-weight: 700">GADGET GOURMET</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-md-center order-md-2 order-1" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link px-2 text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Store" asp-action="Index">Shop</a>
                        </li>
                        <li class="nav-item">
                            <partial name="_LoginPartial" />
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="History">History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Return">Return</a>
                        </li>

                    </ul>
                </div>

                <ul class="navbar-nav me-5 order-md-3 order-3">
                    <li class="nav-item">

                        <!--Searh bar-->
                        <div class="d-flex justify-content-center mx-auto mt-3">
                            <form id="search-from" method="get" action="@Url.Action("Search", "Product")">
                                <div class="input-group" style="height: 35px;">
                                    <input name="searchString" type="text" id="searchInput" class="form-control" placeholder="Search for a Product..." style="width: 250px; border-radius: 25px 0 0 25px; height: 35px;">
                                    <button type="submit" class="input-group-text search-icon" style="border-radius: 0 25px 25px 0; height: 35px;">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <ul id="searchResults" class="list-group mt-2"></ul>
                                <div id="search-results" class="container"></div>
                                <script src="js/searchbar.js"></script>
                            </form>
                        </div>



                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="@Url.Content("~/images/icons/cart-header-icon.svg")" alt="Cart" width="24" height="24" />
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="users" asp-action="profile">
                            <img src="@Url.Content("~/images/icons/account-header-icon.svg")" alt="User Account" width="24" height="24" />
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--References-->
    <div class="container" style="font-family:Noah">
        <div class="row " style="min-height: 200px">

            <div class="col-md-4">
                <span class="fw-bold fs-2">Gadget Gourmet</span>
                <p class="fs-6 tab-pane">
                    Gadget Gourmet is a cutting-edge e-commerce platform dedicated to offering a curated selection of innovative
                    and modern kitchen gadgets.
                </p>
            </div>

            <div class="col-md-2"></div>

            <div class="col-md-2">
                <span class="fw-bold fs-5">My Account</span>
                <div class="list-group fs-6">
                    <a href="#" class="list-group-item no-border list-group-item-light" style="border:none">Orders</a>
                    <a href="#" class="list-group-item list-group-item-light" style="border:none"> WishList</a>
                    <a asp-controller="users" asp-action="signup" class="list-group-item list-group-item-light" style="border:none"> Register</a>
                    <a asp-controller="users" asp-action="login" class="list-group-item list-group-item-light" style="border:none"> Login</a>
                </div>
            </div>

            <div class="col-md-2">
                <span class="fw-bold fs-5">Customer Care</span>
                <a href="#" class="list-group-item no-border list-group-item-light" style="border:none">FAQs</a>
                <a href="#" class="list-group-item list-group-item-light" style="border:none"> How to Return?</a>
                <a href="#" class="list-group-item list-group-item-light" style="border:none"> Return Policy</a>
                <a href="#" class="list-group-item list-group-item-light" style="border:none"> Terms and Conditions</a>
            </div>

            <div class="col-md-2">
                <span class="fw-bold fs-5">Contact Us</span> <br />
                <span class="fs-md-5 fs-sm-6">+92-321-7880049</span><br />
                <span class="fs-6">DHA Sector XX</span>
                <span class="fs-6">Lahore</span>
            </div>
        </div>
    </div>
    <br />
    <footer class="footer text-muted">
        <div class="container-fluid">
            <div class="row">
                <!-- Copy right mark -->
                <div class="col-md-4 fs-md-6 text-center order-md-1 order-3" style="font-size: 10px">Copyright &copy; 2024 - Gadget_Gourmet. All Rights Reserved</div>

                <!--Social Media Icons-->
                <div class="col-md-4 d-flex align-self-sm-center align-self-md-center order-md-2 justify-content-md-center">
                    <a href="https:\\www.facebook.com">
                        <img src="@Url.Content("~/Images/icons/fb.jpg")" alt="Logo" width="30" height="24" class="d-inline-block" />
                    </a>

                    <a href="https:\\www.tiktok.com">
                        <img src="@Url.Content("~/Images/icons/tiktok.png")" alt="Logo" width="30" height="24" class="d-inline-block" />

                    </a>

                    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https:\\www.instagram.com">
                        <img src="@Url.Content("~/Images/icons/instagram.png")" alt="Logo" width="30" height="24" class="d-inline-block" />
                    </a>
                </div>

                <!--Footer payment methods section-->
                <div class="col-md-4 align-self-center justify-content-md-end order-md-3" style="font-size: 10px" ; font-family: Noah">
                    <div class="row mt-md-0 mt-sm-2 align-items-sm-center align-items-md-end">
                        <div class="col-md-6 fs-md-6">
                            Payment Methods
                        </div>

                        <div class="col-sm-1 col-md-1">
                            <a href="">
                                <img src="~/images/icons/payment-method-footer.png" width="30" height="24" class="d-inline-block" />
                            </a>
                        </div>

                        <div class="col-sm-1 col-md-1">
                            <a href="">
                                <img src="~/images/icons/paypal_footer_icon.png" width="30" height="24" class="d-inline-block" />
                            </a>
                        </div>

                        <div class="col-sm-1 col-md-1 ">
                            <a href="">
                                <img src="~/images/icons/cash-footer-icon.png" width="30" height="24" class="d-inline-block" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>

    /* Search Bar */
    .input-group {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .form-control {
        padding: 8px 12px;
        border: 1px solid #ddd;
        border-radius: 30px;
    }

    .search-icon {
        background-color: #3381f6;
        color: white;
        border: none;
        padding: 8px 12px;
        cursor: pointer;
    }

        .search-icon:hover {
            background-color: #1a66d4;
        }

    /* Search results styling */
    .list-group {
        position: absolute;
        z-index: 1000;
        width: 150px;
        max-height: 300px;
        overflow-y: auto;
    }

    .list-group-item {
        padding: 10px 15px;
        border: 1px solid #ddd;
    }

        .list-group-item:hover {
            background-color: #f1f1f1;
        }

        /* Search Bar ends */

    #searchResults {
        max-height: 300px;
        overflow-y: auto;
        margin-top: 10px;
    }

        #searchResults li {
            cursor: pointer;
        }

            #searchResults li:hover {
                background-color: #f1f1f1;
            }
</style>